<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ESTO NO SE VA A VER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ng-container *ngIf="usuario.rol == 'dueño' || usuario.rol == 'supervisor' "> -->
    <ion-row>
      <ion-col size="12" >
        <ion-row class="icon-img">
          <ion-img src="../../../assets/logo-png.png"></ion-img>
        </ion-row>
          <ion-button routerLink="/listado-clientes-pendientes" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/cliente-pendiente.png" class="button-icon"/>
            Listado de clientes pendientes
          </ion-button>
          <ion-button routerLink="/alta-empleado" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/alta-empleado.png" class="button-icon"/>
            Alta empleado
          </ion-button>
          <ion-button  routerLink="/alta-duenio" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/alta-supervisor.png" class="button-icon"/>
            Alta supervisor
          </ion-button>
          <ion-button  routerLink="/push" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/alta-supervisor.png" class="button-icon"/>
            Alta Dueño
          </ion-button>
      </ion-col>
    </ion-row>
 <!--  </ng-container> -->
</ion-content>