<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">Bienvenido {{rol}}!</ion-title>
    <div class="divSalir" (click)="cerrarSesion()">
      <ion-img src="../../../assets/botones/logout.svg" class="salir"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-app *ngIf="rol=='bartender'">
  <app-home-bartender></app-home-bartender>
</ion-app>

<ion-app *ngIf="rol=='cliente'">
  <app-home-cliente></app-home-cliente>
</ion-app>

<ion-app *ngIf="rol=='cocinero'">
  <app-home-cocinero></app-home-cocinero>
</ion-app>

<ion-app *ngIf="rol=='dueño'">
  <app-home-duenio></app-home-duenio>
</ion-app>

<ion-app *ngIf="rol=='metre'">
  <app-home-metre></app-home-metre>
</ion-app>

<ion-app *ngIf="rol=='mozo'">
  <app-home-mozo></app-home-mozo>
</ion-app>

<ion-app *ngIf="rol=='supervisor'">
  <app-home-supervisor></app-home-supervisor>
</ion-app>