ion-content{
    --background: none;
    background-color: #01be62;
    background-image: url('../../../assets/fondo-login-2.jpg')!important;
    background-size: cover;
    min-height: 100vh;
}

.fab-icon {
    width: 40px;
    height: 40px; 
    object-fit: contain;
    margin: 10px;
  }

  ion-fab-button{
    --background: #000000
  }

  .titulo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em; 
    position: relative; 
  }
  
  .divSalir {
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
  }
  
  .salir {
    height: 30px;
    margin-left: 5vw;
  }
  
  .btnMenu{
    margin: 15px;
    padding: 5px;
    height: auto;
    --background: #01be62;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  
  .metre{
    margin-top: 250px;
  }
  
  .supervisor{
    margin-top: 240px;
  }
  
  
  .button-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px; 
    vertical-align: middle; 
  }






  .back{
    height: 30px;
  }
  
  .divBack {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  ion-button {
    margin: 0;
    padding: 0;
    border-radius: 25px;
    --background: #0db946;
    --color: black;
  }

  ion-fab-button{
    &.false{
      --background: #ed2553
    }
    &.true{
      --background: #0db946
    }
  }