<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">PUSH TEST</ion-title>
    <div class="divSalir" (click)="goHome()">
      <ion-img src="../../../assets/botones/back.svg" class="back"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ng-container *ngIf="usuario.rol == 'dueño' || usuario.rol == 'supervisor' "> -->
    <ion-row>
      <ion-col size="12" >
          <ion-button (click)="createOneSignalUser()" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/cliente-pendiente.png" class="button-icon"/>
            CREAR ONESIGNAL USER
          </ion-button>
          <ion-button (click)="deleteOneSignalUser()" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/alta-empleado.png" class="button-icon"/>
            ELIMINAR USUARIO
          </ion-button>
          <ion-button (click)="sendNotificationtoSpecificDevice()" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/alta-supervisor.png" class="button-icon"/>
            ENVIAR NOTIFICACION A UN DISPOSITIVO ESPECIFICO
          </ion-button>
          <ion-button (click)="sendNotificationtoAllUsers()" expand="block" shape="round" class="btnMenu">
            <img slot="start"  class="button-icon"/>
            ENVIAR NOTIFICACION A TODOS
          </ion-button>
      </ion-col>
    </ion-row>
 <!--  </ng-container> -->
</ion-content>