<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">PUSH TEST</ion-title>
    <div class="divSalir" (click)="goHome()">
      <ion-img src="../../../assets/botones/back.svg" class="back"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ng-container *ngIf="usuario.rol == 'dueño' || usuario.rol == 'supervisor' "> -->
    <ion-row>
      <ion-col size="12" >
          <ion-button (click)="createOneSignalUser()" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/cliente-pendiente.png" class="button-icon"/>
            CREAR ONESIGNAL USER
          </ion-button>
          <ion-button (click)="sendNotificationtoSpecificDevice('Mensaje de prueba para joel', 'Titulo de prueba', 'fulano@gmail.com', '84W6wHG6mwdPTxAOJbgb')" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/alta-supervisor.png" class="button-icon"/>
            ENVIAR NOTIFICACION A UN DISPOSITIVO ESPECIFICO
          </ion-button>
          <ion-button (click)="sendNotificationtoAllUsers()" expand="block" shape="round" class="btnMenu">
            <img slot="start"  class="button-icon"/>
            ENVIAR NOTIFICACION A TODOS
          </ion-button>
          <ion-button (click)="sendNotificationtoSpecificDevice('Mensaje de prueba para joel', 'Titulo de prueba', 'fulano@gmail.com', 'ngXfl09St1tkmB48AxYk')" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/alta-supervisor.png" class="button-icon"/>
            ENVIAR NOTIFICACION A SAMSUNG FAUSTO
          </ion-button>
          <ion-button (click)="sendNotificationtoSpecificDevice('Un cliente está esperando tu aprobación. ¡Atiende la solicitud ahora!', '¡Nueva solicitud en Sabor Criollo!', 'fulano@gmail.com', 'motoe40')" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/alta-supervisor.png" class="button-icon"/>
            ENVIAR NOTIFICACION A MOTOROLA FAUSTO
          </ion-button>
          <ion-button (click)="sendNotificationtoSpecificDevice('Hay un nuevo pedido a la espera, ¡A cocinar!', '¡Nuevo pedido en Sabor Criollo!', 'fulano@gmail.com', 'samsunga33')" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/alta-supervisor.png" class="button-icon"/>
            ENVIAR NOTIFICACION A SAMSUNG JOEL
          </ion-button>
          <ion-button (click)="sendNotificationtoSpecificDevice('Mensaje de prueba para joel', 'Titulo de prueba', 'fulano@gmail.com', 'XEPntnOIrVFUbAiznh7J')" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/alta-supervisor.png" class="button-icon"/>                                        
            ENVIAR NOTIFICACION A SAMSUNGA35 TOMAS
          </ion-button>
          <ion-button (click)="sendNotificationtoSpecificDevice('Mensaje de prueba para joel', 'Titulo de prueba', 'fulano@gmail.com', 'GEoJMgE0MIKGPKXFR6Yj')" expand="block" shape="round" class="btnMenu">
            <img slot="start" src="../../assets/botones/alta-supervisor.png" class="button-icon"/>                                        
            ENVIAR NOTIFICACION A SAMSUNGA54 TOMAS
          </ion-button>
      </ion-col>
    </ion-row>
 <!--  </ng-container> -->
</ion-content>