<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ESTO NO SE VA A VER</ion-title>
  </ion-toolbar>
</ion-header>

<ng-container>
  <ion-row>
    <ion-col size="12" >
        <ion-button routerLink="/alta-producto" expand="block" shape="round" class="btnMenu">
          <img slot="start" src="../../assets/botones/alta-producto.png" class="button-icon"/>
          Agregar Producto
        </ion-button>
        <ion-button routerLink="/listado-pedidos-pendientes" expand="block" shape="round" class="btnMenu">
          <img slot="start" src="../../assets/botones/lista-espera.png" class="button-icon"/>
          Ver pedidos pendientes
        </ion-button>
    </ion-col>
  </ion-row>
</ng-container>