 @import "./../home/home.page.scss";

.color{
    background-color: rgba(50, 151, 209, 0.9);
    color: black;
}
.margen{
  margin-top: 1%;
}

.ion-justify-content-center{
  display: flex;
}

ion-card {
  max-height: 44vh;
}

app-vertical-bar-chart,
app-torta-chart {
  max-height: fit-content;
}
