.auth-form {
    width: 100%;
    text-align: center;
  }
  
  .custom-input {
    --border-color: #e0e0e0;
    --border-radius: 15px;
    --border-style: solid;
    --border-width: 1px;
  
    ion-label {
        position: relative;
        bottom: 2px;
    }
  
    .eye-icon {
        position: relative;
        top: 13px;
    }
  }
  
  .error{
    //width: 18.3rem;
    background-color: #f24c58;
    border-radius: 8px;
    border: 1px solid black;
    height: auto;
    position: absolute;
    div{
        color: white;
        margin-left: 5px;
    }

    padding-top: 5px;
    padding-bottom: 5px;
    width: 97%;
  }
  
  .logo{
    width: 50%;
    height: 50%;
  }
  
  
  ion-content{
    --background: none;
    background-color: #01be62;
    background-image: url('../../../assets/fondo-login-2.jpg')!important;
    background-size: cover;
  }
  
  
  
  ion-fab-button ion-img{
    background-color: #01be62;
  }
  
  .slot{
    margin: 10%;
    margin-bottom: 20%;
  }
  
  .subslot{
    margin-bottom: 40px;
    position: relative;
  }
  
  .btnIngreso{
    padding: 0;
    margin: 0;
    width: 90%;
  
  }
  
  .title{
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background-color: #419b5096;
  
        ion-title{
            color: #234191;
            font-size: 40px;
            font-weight: 800;
            font-family: 'Ribeye', cursive;
            overflow-wrap: break-word;
        }
    }
  }
  
  .btn-img{
    height: 60px;
    width: 60px;
  }
  
  @media (orientation: landscape) {
    .aux{
        padding: 16px;
        margin: 0!important;
    }
    .btn{
        margin: 0!important;
    }
    .btn-img{
        height: 55px;
        width: 55px;
    }
  }
  
  .custom-button{
    background-color: transparent;
  }
  
  .contenedor-nuevocliente{
    display: flex;
    justify-content: center;
  }
  
  .icon-img{
    display: flex;
    justify-content: center;
    align-content: center;
    ion-img{
      width: 70%;
    }
  }
  
  ion-button {
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --ripple-color: deeppink;
    --padding-top: 20px;
    --padding-bottom: 20px;
  
    height: 10vh;
    margin-top: 20px;
    border-radius: 25px;
    --background: #01be62;
    --color: black;
    opacity: 1; 
    --background-color: #01be62 !important; 
    color: black !important; 
  }
  
  .botonNuevoCliente {
    font-size: 16px;
    color: #fdfdfd;
  }

  ion-icon{
    color: #01be62;
    font-size: small;
  }