@import '../alta-empleado/alta-empleado.page.scss';
  
  ion-card-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  ion-card {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;
    overflow: hidden;
    box-sizing:border-box;
  }

  .error-card {
    background-color: #650008;
  }

  ion-item {
    font-size: 1em;
    display: flex;
    align-items: center;
  }

  ion-checkbox {
    --color-checked: var(--ion-color-primary);
  }
  
  .custom-slider {
    width: 100%;
    -webkit-appearance: none;
    background: linear-gradient(to right, red, yellow, green);
    height: 8px; /* Thickness of the slider track */
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
  }