@import '../alta-empleado/alta-empleado.page.scss';
  
  ion-card-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  ion-card {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;
    overflow: hidden;
    box-sizing:border-box;
  }

  .error-card {
    background-color: #f8d7da;
  }

  ion-item {
    font-size: 1em;
    display: flex;
    align-items: center;
  }

  ion-checkbox {
    --color-checked: var(--ion-color-primary);
  }

  ion-range {
    --bar-background: linear-gradient(
      to right,
      #ff0000,
      #ff8c00,
      #ffd700,
      #adff2f,
      #00ff00
    );
    --bar-background-active: black;
  }