@import '../home/home.page.scss';

/* .btnMenu{
    margin: 15px;
    padding: 5px;
    height: auto;
    --background: #01be62;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  
  .metre{
    margin-top: 250px;
  }
  
  .supervisor{
    margin-top: 240px;
  }
  
  
  .button-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px; 
    vertical-align: middle; 
  } */