<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ESTO NO SE VA A VER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <!-- <ion-img class="fab-icon" src="../../assets/botones/qr.svg" name="logout"></ion-img> -->
    <ion-col size="12" >
      <ion-row class="icon-img">
        <ion-img src="../../../assets/logo-png.png"></ion-img>
      </ion-row>
      <!-- <div *ngIf="usuario.enListaDeEspera == false || usuario.enListaDeEspera == null"> -->
        <ion-button  expand="block" shape="round" class="btnMenu" routerLink="/lista-espera">
          <img slot="start" src="../../assets/botones/qr.svg" class="fab-icon"/>
          Lista de espera
        </ion-button>

        <ion-button  expand="block" shape="round" class="btnMenu" routerLink="/alta-cliente">
          <img slot="start" src="../../assets/botones/agregarUsuario.svg" class="fab-icon"/>
          Registrar cliente nuevo
        </ion-button>

        
        
      <!-- </div> -->

    </ion-col>
  </ion-row>
</ion-content>