
<ion-content [fullscreen]="true">
  <ion-row>
    <form [formGroup]="form" class="auth-form" (ngSubmit)="registrar()">
      <ion-row class="ion-justify-content-center slot aux">

        <ion-col size="12" sizeLg="12" sizeSm="6" class="subslot">
          <ion-item class="custom-input" lines="none">
            <ion-input
              type="email"
              label="Email"
              formControlName='email'
              labelPlacement="floating"
              [clearInput]="true"
            ></ion-input>
          </ion-item>
          <div class="error" *ngIf="form.controls?.['email']?.invalid && (form.controls?.['email']?.dirty || form.controls?.['email']?.touched)">
            <div *ngIf="form.controls?.['email']?.errors?.['required']">El email es requerido</div>
            <div *ngIf="form.controls?.['email']?.errors?.['email']">Formato inválido</div>
          </div>
        </ion-col>
        <!-- Contraseña -->
        <ion-col size="6" sizeLg="6" sizeSm="6" class="subslot">
          <ion-item class="custom-input" lines="none">
            <ion-input
              type="password"
              label="Contraseña"
              formControlName='password'
              labelPlacement="floating"
            ></ion-input>
          </ion-item>
          <div class="error" *ngIf="form.controls?.['password']?.invalid && (form.controls?.['password']?.dirty || form.controls?.['password']?.touched)">
            <div *ngIf="form.controls?.['password']?.errors?.['required']">La contraseña es requerida</div>
          </div>
        </ion-col>
        <!-- Repetir Clave / Contraseña -->
        <ion-col size="6" sizeLg="6" sizeSm="6" class="subslot">
          <ion-item class="custom-input" lines="none" >
            <ion-input
            type="password"
            autocomplete="password"
            label="Confirmar"
            formControlName='confirmPassword'
            labelPlacement="floating"
            name="confirmPasswordR">
            </ion-input>
          </ion-item>
          <div class="error" *ngIf="form.controls?.['confirmPassword']?.invalid && (form.controls?.['confirmPassword']?.dirty || form.controls?.['confirmPassword']?.touched)">
            <div *ngIf="form.controls?.['confirmPassword']?.errors?.['required']">La contraseña es requerida</div>
            <div *ngIf="form.controls?.['confirmPassword']?.errors?.['noCoincide']">La contraseña no coinciden</div>
          </div>
        </ion-col>

        <ion-col size="12" sizeLg="12" sizeSm="6" class="subslot">
          <ion-item class="custom-input" lines="none">
            <ion-input
              type="text"
              label="Nombre"
              formControlName='nombre'
              labelPlacement="floating"
              [clearInput]="true"
            ></ion-input>
          </ion-item>
          <div class="error" *ngIf="form.controls?.['nombre']?.invalid && (form.controls?.['nombre']?.dirty || form.controls?.['nombre']?.touched)">
            <div *ngIf="form.controls?.['nombre']?.errors?.['required']">El nombre es requerido</div>
            <div *ngIf="form.controls?.['nombre']?.errors?.['pattern']">Únicamente letras y espacios</div>
          </div>
        </ion-col>

        <ion-col size="12" sizeLg="12" sizeSm="6" class="subslot">
          <ion-item class="custom-input" lines="none">
            <ion-input
              type="text"
              label="Apellido"
              formControlName='apellido'
              labelPlacement="floating"
              [clearInput]="true"
              >
            </ion-input>
          </ion-item>
          <div class="error" *ngIf="form.controls?.['apellido']?.invalid && (form.controls?.['apellido']?.dirty || form.controls?.['apellido']?.touched)">
            <div *ngIf="form.controls?.['apellido']?.errors?.['required']">El apellido es requerido</div>
            <div *ngIf="form.controls?.['apellido']?.errors?.['pattern']">Únicamente letras y espacios</div>
          </div>
        </ion-col>

        <ion-col size="6" sizeLg="6" sizeSm="6" class="subslot">
          <ion-item class="custom-input" lines="none">
            <ion-input
              (keypress)="validateNumber($event)"
              type="text"
              label="DNI"
              formControlName='dni'
              labelPlacement="floating"
              maxlength="8"
              minlength="6"
              >
            </ion-input>
          </ion-item>
          <div class="error" *ngIf="form.controls?.['dni']?.invalid && (form.controls?.['dni']?.dirty || form.controls?.['dni']?.touched)">
            <div *ngIf="form.controls?.['dni']?.errors?.['required']">El DNI es requerido</div>
            <div *ngIf="form.controls?.['dni']?.errors?.['minlength']">El DNI debe tener mínimo 6 dígitos</div>
            <div *ngIf="form.controls?.['dni']?.errors?.['maxlength']">El DNI debe tener máximo 8 dígitos</div>
          </div>
        </ion-col>

        <ion-col size="6" sizeLg="6" sizeSm="6" class="subslot">
          <ion-item class="custom-input" lines="none">
            <ion-input
              (keypress)="validateNumber($event)"
              (paste)="validatePaste($event)"
              type="text"
              label="CUIL"
              formControlName='cuil'
              labelPlacement="floating"
              maxlength="11"
              minlength="11"
              >
            </ion-input>
          </ion-item>
          <div class="error" *ngIf="form.controls?.['cuil']?.invalid && (form.controls?.['cuil']?.dirty || form.controls?.['cuil']?.touched)">
            <div *ngIf="form.controls?.['cuil']?.errors?.['required']">El CUIT es requerido</div>
            <div *ngIf="form.controls?.['cuil']?.errors?.['minlength']">El CUIT debe tener 11 dígitos</div>
            <div *ngIf="form.controls?.['cuil']?.errors?.['maxlength']">El CUIT debe tener 11 dígitos</div>

          </div>
        </ion-col>

        <ion-col size="12" sizeLg="12" sizeSm="6" class="subslot">
          <ion-item class="custom-input">
            <ion-select label="Rol" label-placement="floating" required formControlName="rol">
              <ion-select-option value="mozo">Mozo</ion-select-option>
              <ion-select-option value="metre">Metre</ion-select-option>
              <ion-select-option value="cocinero">Cocinero</ion-select-option>
              <ion-select-option value="bartender">Bartender</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="error" *ngIf="form.controls?.['rol']?.invalid && (form.controls?.['rol']?.dirty || form.controls?.['rol']?.touched)">
            <div *ngIf="form.controls?.['rol']?.errors?.['required']">El rol es requerido</div>
          </div>
        </ion-col>

      </ion-row>
    </form>

  </ion-row>

  <ion-row class="ion-justify-content-center btn">
    <ion-button  expand="full" shape="round" size="large" (click)="registrar()" [disabled]="form.invalid">Registrar</ion-button>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button>
      <ion-img src="../../../assets/icon/fab-icons/dni.png" (click)="escanear()"></ion-img>
    </ion-fab-button>
  </ion-fab>
</ion-content>