@import '../alta-empleado/alta-empleado.page.scss';

.danger{
    color: red;
    background-color: pink;
    margin-bottom: 15px;
  }

  .error{
    background-color: pink;
    div{
        color: red;
    }
  }

  .titulo{
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .back{
    height: 30px;
  }
  
  .divBack {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  ion-button {
    //margin-top: 5px;
    //height: 8vh;
    margin: 0;
    padding: 0;
    border-radius: 25px;
    --background: #0db946;
    --color: black;
  }

  .fabFalse{
    width: 70%;
    height: 70%; 
    object-fit: contain;
  }

  ion-fab-button{
    &.false{
      --background: #ed2553
    }
    &.true{
      --background: #0db946
    }
  }