<ion-header [translucent]="true" class="ion-no-border" fixed>
  <ion-toolbar>
    <ion-title class="titulo">Importe total: ${{ pedido.importeTotal }}</ion-title>
    <ion-title class="subtitulo">Tiempo de elaboración: {{ pedido.tiempoTotal }} mins.</ion-title>
    <div class="divSalir" (click)="goHome()">
      <ion-img src="../../../assets/botones/back.svg" class="back"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="goChat()">
    <ion-fab-button color="tertiary">
      <ion-img src="../../../assets/botones/mozo.svg"  class="fab-icon"></ion-img>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="mostrarPedido()">
    <ion-fab-button color="tertiary">
      <ion-img src="../../../assets/botones/lista-de-comida.png"  class="fab-icon"></ion-img>
    </ion-fab-button>
  </ion-fab>



   @if(productos && productos.length > 0){
   
    <ion-grid fixed>
      <ion-row class="productos">
          @for(producto of productos; track producto)
          {
          <ion-card >
            <swiper-container
                [slides-per-view]="1"
                navigation="true"
                pagination="true"
                loop="true"
                class="product-swiper"
              >
                <swiper-slide *ngFor="let imagen of producto.imagen">
                  <img [src]="imagen" alt="{{ producto.nombre }}" class="product-image" />
                </swiper-slide>
              </swiper-container>
            <ion-card-header>
              <div class="line"></div>

               <h2 class="descripcion-producto">{{producto.nombre}} </h2> 
              <ion-card-subtitle class="descripcion-producto"> ${{producto.precio}}</ion-card-subtitle>
              <ion-card-subtitle class="descripcion-producto">{{producto.descripcion}}</ion-card-subtitle>
              <ion-card-subtitle class="descripcion-producto">Tiempo: {{producto.tiempoelaboracion}} mins</ion-card-subtitle>
              <div class="line"></div>

            </ion-card-header>

            <ion-card-content>

              <div class="card-btn">
              </div>
              <div class="card-btn">
                <ion-button color="success" expand="block" shape="round" class="circular-button" (click)="actualizarCantidadPedido(producto, true)">
                  +
                </ion-button>
                <ion-text>
                  <h5 class="cantidad">{{producto.cantidad}} </h5>
                </ion-text>
                <ion-button color="danger" expand="block" shape="round" class="circular-button" (click)="actualizarCantidadPedido(producto, false)">
                  -
                </ion-button>


                  <ion-button class="agregar" color="primary"  expand="block"  shape="round" (click)="actualizarPedido(producto)">
                    CONFIRMAR
                  </ion-button>
                
              </div>
            </ion-card-content>
          </ion-card>
      }
      </ion-row>
    </ion-grid>
  }
</ion-content>