@import "./../home/home.page.scss";


/* .btnMenu{
    margin: 15px;
    padding: 5px;
    height: auto;
    --background: #01be62;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
  }

  p{
    color:#01be62;
    font-size: 35px;
    font-weight: bold;

  }

  ion-content{
    background-color: #01be62;
    background-image: url('../../../assets/fondo-login-2.jpg')!important;
} */

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

ion-card {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 30px;
  overflow: hidden;
  box-sizing:border-box;
  //--background: #01be62;
}

