<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="titulo">Cuenta</ion-title>
      <div class="divSalir" (click)="goHome()">
        <ion-img src="../../../assets/botones/back.svg" class="back"></ion-img>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngIf="pedido != null">
    <ion-row class="cuenta">
      <ion-card class="info-cliente">
        <ion-card-content>
          <div class="card-btn">
            <h2>CUENTA MESA {{usuario.mesa}}</h2>
            <h3>
              CLIENTE: {{usuario.nombre}} <br>
            </h3>
          </div>
        </ion-card-content>
      </ion-card> 
      <ion-img class="icon-qr" src="../../assets/botones/propina.png" name="logout" (click)="scan()"></ion-img>

      <ion-card class="info-pedido" *ngIf="pedido">
        <ion-card-content>
          <div class="card-btn">
            <div class="line"></div>
            <div *ngFor="let producto of pedido.pedidos">
              <h3>{{producto.producto.nombre}} x {{producto.cantidad}}</h3>
              <h2> Subtotal: ${{producto.cantidad * producto.producto.precio}}</h2>
              <div class="line"></div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="info-subtotal">
        <ion-card-content>
          <div class="card-btn">
            <h2>Subtotal: ${{subtotal}}</h2>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="info-propina">
        <ion-card-content>
          <div class="card-btn">
            <h2>Propina {{propina}}%</h2>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="info-total">
        <ion-card-content>
          <div class="card-btn">
            <h1>TOTAL: ${{pedido.importeTotal}}</h1>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-button expand="block" shape="round" class="btnMenu" (click)="pagar()">
        PAGAR
      </ion-button>
    </ion-row>
  </ion-grid>