<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="titulo">CLIENTE ANÓNIMO</ion-title>
      <div class="divSalir" (click)="goHome()">
        <ion-img src="../../../assets/botones/back.svg" class="back"></ion-img>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-justify-content-center">
    <ion-row class="icon-img">
      <ion-img src="../../../assets/logo-png.png"></ion-img>
    </ion-row>

    <form [formGroup]="form" class="auth-form" (ngSubmit)="ingresar()">
      <ion-col size="12" class="subslot">
        <ion-item class="custom-input" lines="none">
          <ion-input
            type="text"
            label="Nombre"
            formControlName="nombre"
            labelPlacement="floating"
            [clearInput]="true"
          ></ion-input>
        </ion-item>
        <div
          class="error"
          *ngIf="form.controls?.['nombre']?.invalid && (form.controls?.['nombre']?.dirty || form.controls?.['nombre']?.touched)"
        >
          <div *ngIf="form.controls?.['nombre']?.errors?.['required']">El nombre es requerido</div>
          <div *ngIf="form.controls?.['nombre']?.errors?.['pattern']">Únicamente letras y espacios</div>
        </div>
      </ion-col>
    </form>
  </ion-row>

  <ion-row class="ion-justify-content-center aux danger">
    {{error}}
  </ion-row>

  <ion-col size="12" sizeLg="12" sizeSm="6">
    <ion-row class="ion-justify-content-center btn">
      <ion-button expand="full" shape="round" size="large" (click)="ingresar()">Entrar como anónimo</ion-button>
    </ion-row>
  </ion-col>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [ngClass]="fotoSubida" (click)="abrirCamara()">
      <ion-img src="../../../assets/botones/camara.svg" class="fab-icon"></ion-img>
    </ion-fab-button>
  </ion-fab>
</ion-content>
