<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ESTO NO SE VA A VER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ng-container>
  <ion-row>
    <ion-col size="12" >
      <ion-row class="icon-img">
        <ion-img src="../../../assets/logo-png.png"></ion-img>
      </ion-row>
      <ion-button routerLink="/estado-mesas" expand="block" shape="round" class="btnMenu">
        <img slot="start" src="../../assets/botones/nuevo-cliente.png" class="button-icon"/>
        VER ESTADO DE LAS MESAS
      </ion-button>
      <ion-button routerLink="/chat" expand="block" shape="round" class="btnMenu">
        <img slot="start" src="../../assets/botones/chat.png" class="button-icon"/>
        RESPONDER CONSULTAS
      </ion-button>
      <ion-button  expand="block" shape="round" class="btnMenu">
        <img slot="start" src="../../assets/botones/lista-de-comida.png" class="button-icon"/>
        MENU
      </ion-button>
    </ion-col>
  </ion-row>
</ng-container>
</ion-content>