<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido cliente!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <!-- <ion-img class="icon-back" src="../../assets/botones/codigo-qr-2.png" name="logout"></ion-img> -->
    <ion-col size="12" >
      <!-- <div *ngIf="usuario.enListaDeEspera == false || usuario.enListaDeEspera == null"> -->
      <!--   <ion-button expand="block" shape="round" class="btnMenu">
          <img slot="start" src="../../assets/botones/medalla.svg" class="fab-icon"/>
          Ver nuestras calificaciones
        </ion-button>
        <ion-button *ngIf="usuario?.enListaDeEspera == null" expand="block" shape="round" class="btnMenu" (click)="pedirMesaScan()">
          <img slot="start" src="../../assets/botones/qr.svg" class="fab-icon"/>
          Escanear QR para que se le asigne mesa
        </ion-button>
        <ion-button *ngIf="usuario?.enListaDeEspera == false" expand="block" shape="round" class="btnMenu" (click)="scanMesa()">
          <img slot="start" src="../../assets/botones/qr.svg" class="fab-icon"/>
          Escanear menu
        </ion-button>
         <ion-button *ngIf="usuario?.enListaDeEspera == true" expand="block" shape="round" class="btnMenu">
          <img slot="start" src="../../assets/botones/qr.svg" class="button-icon"/>
          Ya estas en la lista de espera, toca esperar!!!
        </ion-button> 
        <ion-button *ngIf="usuario?.enListaDeEspera == false" expand="block" shape="round" class="btnMenu">
          <img slot="start" src="../../assets/botones/mozo.svg" class="fab-icon"/>
          Consulta al mozo
        </ion-button>
        <ion-button *ngIf="usuario?.enListaDeEspera == false" expand="block" shape="round" class="btnMenu">
          <img slot="start" src="../../assets/botones/cuenta.svg" class="fab-icon"/>
          Pedir la cuenta
        </ion-button>
        <ion-button *ngIf="usuario?.enListaDeEspera == false" expand="block" shape="round" class="btnMenu">
          <img slot="start" src="../../assets/botones/opinion.svg" class="fab-icon"/>
          Danos tu opinión
        </ion-button> -->

        <ion-button *ngIf="usuario?.enListaDeEspera == null" (click)="pedirMesaScan()"  expand="block" shape="round" class="btnMenu">
          <img slot="start" src="../../assets/botones/opinion.svg" class="fab-icon"/>
          Solicitar mesa (lista de esperar)
        </ion-button> 

        <ion-button *ngIf="usuario?.enListaDeEspera == false" (click)="scanMesa()"expand="block" shape="round" class="btnMenu">
          <img slot="start" src="../../assets/botones/opinion.svg" class="fab-icon"/>
          Escanear QR de la mesa {{usuario?.mesa}}
        </ion-button> 

        <ion-button *ngIf="usuario?.enListaDeEspera == true"  expand="block" shape="round" class="btnMenu">
          <img slot="start" src="../../assets/botones/opinion.svg" class="fab-icon"/>
          Debes esperar a que el metre te acepte
        </ion-button> 

         <ion-button expand="block" shape="round" class="btnMenu">
          <img slot="start" src="../../assets/botones/medalla.svg" class="fab-icon"/>
          Ver nuestras calificaciones
        </ion-button>
        
        
      <!-- </div> -->

    </ion-col>
  </ion-row>
</ion-content>